@page "/learn-blazor/bind-prop"
@using System.Collections.Generic
@using BlazorLab.Components.Shared

<div class="pt-5">
	<h2>Product Playground</h2>
	<ProductPlayground Product="product" ProductList="productList" />
</div>

<div class="pt-5">
	<h2>Product Card</h2>
	@foreach (var p in productList)
	{
		<ProductCard TProduct="Product" Product="p" />
	}
</div>

<div class="pt-5">
	<h2>Product Table</h2>
	<ProductTable Product="productList" />
</div>



@code {


	Product product = new Product
	{
		Id = 1,
		Name = "Samsung",
		isActive = false,
		Price = 0,
		Props = new List<Product_Prop>()
		{
			new Product_Prop { Id=1, key="Color", value="Black" },
			new Product_Prop { Id=2, key="Memory", value="128GB" },
			new Product_Prop { Id=3, key="RAM", value="8GB" },
			new Product_Prop { Id=4, key="Camera", value="50MP" },
		}
	};

	List<Product> productList = new List<Product>();

	protected override void OnInitialized()
	{

		productList.Add(new()
		{
			Id = 1,
			Name = "Iphone",
			isActive = true,
			Price = 10.0,
			Props = new List<Product_Prop>()
			{
				new Product_Prop { Id=1, key="Color", value="Black" },
				new Product_Prop { Id=2, key="Memory", value="128GB" },
				new Product_Prop { Id=3, key="RAM", value="8GB" },
				new Product_Prop { Id=4, key="Camera", value="50MP" },
			}
		});

		productList.Add(new()
		{
			Id = 2,
			Name = "Samsung",
			isActive = false,
			Price = 20.0,
			Props = new List<Product_Prop>()
			{
				new Product_Prop { Id=1, key="Color", value="White" },
				new Product_Prop { Id=2, key="Memory", value="256GB" },
				new Product_Prop { Id=3, key="RAM", value="12GB" },
				new Product_Prop { Id=4, key="Camera", value="108MP" },
			}
		});

		productList.Add(new()
		{
			Id = 3,
			Name = "Xiaomi",
			isActive = true,
			Price = 30.0,
			Props = new List<Product_Prop>()
			{
				new Product_Prop { Id=1, key="Color", value="Blue" },
				new Product_Prop { Id=2, key="Memory", value="512GB" },
				new Product_Prop { Id=3, key="RAM", value="16GB" },
				new Product_Prop { Id=4, key="Camera", value="200MP" },
			}
		});
	}
}
