@page "/learn-blazor/bind-prop"

@using BlazorLab.Models

<h3>Product - Data Binding</h3>

name: @product.Name
<br />
IsActive: @product.isActive
<br />
Price: @product.Price
<br/>
Input Price:
<input type="number" @bind="product.Price" @bind:event="oninput" />



@code {

	Product product = new Product
	{
		Id = 1,
		Name = "Samsung",
		isActive = true,
		Price = 45000
	};

}
