@page "/learn-blazor/bind-prop"

@using BlazorLab.Models

<h3>Product - Data Binding</h3>

name: @product.Name
<br />
IsActive: @product.isActive






@code {

	Product product = new Product
	{
		Id = 1,
		Name = "Samsung",
		isActive = true
	};

}
