@page "/learnBlazor/parentComponent"
@using BlazorLab.Components.Shared

<h3>ParentComponent</h3>


<_ChildComponent OnButtonClick="ShowMessage" Title="Hello Team">
	<Head>
		<h1>Header</h1>
	</Head>
	<ChildContent>
        <p>This is child content from ParentComponent</p>
		<br />

	</ChildContent>

	<ChildSomeContent>
        <p>This is some other child content from ParentComponent</p>
	</ChildSomeContent>

</_ChildComponent>

<p>@message</p>



@code {

	public string message = "";

	public void ShowMessage()
	{
        message = "Button clicked in ChildComponent";
	}

}
