@page "/learnBlazor/parentComponent"
@using BlazorLab.Components.Shared

<h3>ParentComponent</h3>


<_ChildComponent Title="I Love Azmen Tamano my wife">
	 This some additional content passed from the ParentComponent.
</_ChildComponent>

<_ChildComponent Title="I Love Azmen Tamano my wife">
</_ChildComponent>

@code {

}
