<div>
	<h3 class="alert alert-info">@Title</h3>
</div>

@if (ChildContent != null)
{
	<div class="alert alert-success">
		@ChildContent
	</div>

	<button class="btn-primary" @onclick="OnButtonClick">Show Message</button><br />
}



@code {

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public EventCallback OnButtonClick { get; set; }


}
