<h3 class="text-primary">GrandChildComponent</h3>

<p>There is a message for grand child - @GrandChildMessage</p>

@code {
    [CascadingParameter]
    public string GrandChildMessage { get; set; }

    [CascadingParameter(Name = "TitleName")]
    public string TitleFromParent { get; set; }
}

<div>
    <h4 class="alert alert-dark">Cascading Title: @TitleFromParent</h4>
</div>
